{% extends 'app1/base.html' %}
<!-- heading start here  -->
{% block headings %}

<style>
  .category_item {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .category_item button {
    font-size: 2.1rem;
    border: 1px solid white;
    margin: 0.5rem;
    border-radius: 0.4rem;
  }
  #myimg {
    object-fit: cover;
    overflow: hidden;
    min-width: 15rem;
    max-width: 15rem;
    min-height: 12rem;
    max-height: 12rem;
  }
  .mycard {
    padding: 1rem;
    min-width: 17rem;
    max-width: 17rem;
    min-height: 17rem;
    max-height: 17rem;
  }
</style>
{% endblock headings %}
<!-- start here -->
{% block contents %}
<hr />
<div class="category_item">
    {% for item in category %}
    <form action="{% url 'blogfilter' catogory=item.blog_catogorys_name %}" method="post">
      {% csrf_token %}
    <button value="{{ item.blog_catogorys_name }}" name="selected" type="submit" style="background-color: transparent; color: white">
      {{ item.blog_catogorys_name }}
    </button>
  </form>
  {% endfor %}
</div>
<hr />
<div class="category_item">
  {% for item in blog %}
  <form action="{% url 'render_blog' name=item.title %}" method="post">
    {% csrf_token %}
    <button
    name="blognumber"
    value="{{ item.id }}"
      style="
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid white;
        margin: 1rem;
      "
      class="mycard"
    >
      <img id="myimg" src="{{ item.img.url }}" alt="" />
      <h1 style="color: white; font-size: 1.7rem">{{ item.title }}</h1>
    </button>
  </form>
  {% endfor %}
</div>
{% endblock contents %}
