{% extends 'app1/base.html' %}
<!-- heading start here  -->
{% block headings %}

<style>
  .flexb {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #cardss {
    width: 21rem;
    height: 24rem;
    margin: 1rem;
    outline: none;
    border: none;
  }
  #fitimg {
    width: 18rem;
    height: 18rem;
    padding: 1rem;
    object-fit: contain;
  }
  #codes {
    margin: 0%;
    padding: 0%;
    font-size: 1.4rem;
    /* color: white; */
    text-align: center;
  }
  #btns {
    width: 4rem;
    height: 1.4rem;
    margin: 0.5rem;
  }
</style>
{% endblock headings %}
<!-- start here -->
{% block contents %}

<div class="flexb">
  {% for item in codes %}
  <form action="{% url 'codeblock' item.id %}" method="post">
    {% csrf_token %}
    <div id="cardss" type="submit">
      <img id="fitimg" src="{{ item.image.url }}" alt="" />
      <p id="codes">{{ item.title }}</p>
      <div class="flexb">
        <button id="btns" value="view" name="para">View</button>
        <button id="btns" value="code" name="para">Code</button>
        <input type="hidden" name="nowid" value="{{ item.id }}">
      </div>
    </div>
  </form>
  {% endfor %}
</div>
{% endblock contents %}
