{% extends 'app1/base.html' %}
<!-- heading start here  -->
{% block headings %}

<style>
  #myfeild {
    width: 60%;
    height: 2.4rem;
    margin: 1rem 20%;
    outline: none;
    font-size: 2rem;
  }
  #area {
    height: auto;
    width: 60%;
    margin: 1rem 20%;
    font-size: 2rem;

    outline: none;
  }
  #send {
    width: 25%;
    margin: 1rem 40%;
    height: 3rem;
    outline: none;
    font-size: 1.5rem;
    border: 2px solid green;
    border-radius: 0.5rem;
    background-color: transparent;
    padding: 0.5rem;
  }
  h1 {
    text-align: center;
    /* color: white; */
  }
</style>
{% endblock headings %}
<!-- start here -->
{% block contents %}
<h1>Contact US...</h1>
<form action="#" method="post">
  {% csrf_token %}
  <input
    placeholder="Enter Your Email...."
    type="email"
    name="email"
    id="myfeild"
  />
  <input placeholder="Enter Subject" type="text" name="subject" id="myfeild" />
  <textarea
    placeholder="Enter body..."
    name="body"
    id="area"
    cols="30"
    rows="10"
  ></textarea>
  <button id="send" type="submit">Submit</button>
</form>
{% endblock contents %}
