{% extends 'app1/base.html' %}
<!-- heading start here  -->
{% block headings %}
<style>
  .di {
    background-color: rgba(255, 255, 255, 0.205);
    width: 40%;
    height: 4rem;
    margin: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
  }
  #copylink {
    /* color: white; */
    text-align: center;
    font-size: 1.2rem;
  }
  @media screen and (max-width: 1000px) {
    .di {
      background-color: rgba(255, 255, 255, 0.205);
      width: 90%;
      height: 4rem;

      border-radius: 1rem;
      padding: 0.5rem;
    }
    #copylink {
      /* color: white; */
      text-align: center;
      font-size: 1.2rem;
    }
  }
</style>
{% endblock headings %} {% block contents %} {% for i in css %}
<a href="{{ i.file_choice.url }}">
  <div class="di">
    <h1 id="copylink">link : https://bitdev.live/media/{{ i.file_choice }}</h1>
  </div>
</a>
{% endfor %} {% endblock contents %}
