{% extends 'app1/base.html' %} {% load static %}

<!-- head file  -->
{% block myhead %} {% endblock myhead %}

<!-- contents files -->

{% block content %}

<div class="container m-auto flex justify-evenly flex-wrap">
  {% for item in images %}
  <a href="{{ item.img.url }}">
    <div class="container h-60 w-60 mt-3 bg-[#ffffff91] p-4">
      <img
        class="object-contain h-52 w-56"
        src="{{ item.img.url }}"
        alt=""
      /></div
  ></a>
  {% endfor %}
</div>
{% endblock content %}
