{% extends 'app1/base.html' %} {% block headings %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock headings %} {% block contents %}

<h1 id="maintitle">Code studio</h1>
<h1 id="maintitle">for the Computer world</h1>
<div class="partition">
  <div class="part1">
    <lottie-player
      id="anime"
      src="https://assets6.lottiefiles.com/packages/lf20_fifomona.json"
      background="transparent"
      speed="1"
      style="width: 60%"
      loop
      autoplay
    ></lottie-player>
  </div>
  <div class="part2">
    <h1 id="titleabout">About</h1>
    <h1 id="aboutme">
      My name is Shrinivasa Prasada, and I have a BCA degree and am currently
      pursuing an MCA. In my spare time, I develop android and iOS apps as well
      as web applications. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; I started my
      coding journey on my 11th standard. Now I am continuing with computer
      science. In my free time I am learning new technology . And build
      software's
    </h1>
  </div>
</div>
<div class="partition">
  <div class="part1">
    <h1 id="titleabout">Technical Skills</h1>
    <h1 id="aboutme">
      <pre
        style="
          white-space: pre-wrap;
          word-wrap: break-word;
          font-weight: lighter;
         
        "
      >
        Language : Python , Javascript , C++ , Dart ,Java ;
        Framework : Flutter , React.js , Django ,Flask , Next.js ;
        Operating System : Linux(Ubuntu , Arch , Kali , Fedora ) , Windows ;
        Librays : Tensorflow , Sklearn , Pandas , Numpy , Keras .. Others ;
        Database : Mysql , Mongo , PostgreSQL , Firebase ;
        Others : Html , Css , Jquerry ;
      </pre>
    </h1>
  </div>
  <div class="part2">
    <lottie-player
      id="anime"
      src="https://assets7.lottiefiles.com/private_files/lf30_VBnEpi.json"
      background="transparent"
      speed="1"
      style="width: 60%"
      loop
      autoplay
    ></lottie-player>
  </div>
</div>

<!-- hobby  -->

<div class="partition">
  <div class="part1">
    <lottie-player
      id="anime"
      src="https://assets10.lottiefiles.com/private_files/lf30_tr47e8ve.json"
      background="transparent"
      speed="1"
      style="width: 60%"
      loop
      autoplay
    ></lottie-player>
  </div>
  <div class="part2">
    <h1 id="titleabout">hobby & Social Account</h1>
    <h1 id="aboutme">
      <pre
        style="
          white-space: pre-wrap;
          word-wrap: break-word;
          font-weight: lighter;
        "
      >
        hobby : Laptop, Planting , Swimming , Cooking , Exploring  ;
        GitHub : <a href="https://github.com/SHRINIVASAPRASADA1">GitHub</a>
        Instagram : <a href="https://www.instagram.com/shrinivasaprasada/?hl=en">Instagram</a>
        Twitter : <a href="https://twitter.com/PrasadaShrin">Twitter</a>
        Linkedin : <a href="https://www.linkedin.com/in/shrinivasa-gowda-8b1477251/">Linkedin</a>
        Email : <a href="mailto:prasadashrinivasa@gmail.com">Email</a>
      </pre>
    </h1>
  </div>
</div>

<h1 id="titles">Projects Compleated</h1>
<div class="flexcoxs">
  {% for item in project %}
  <form
    action="{% url 'product_view' name=item.id title=item.title %}"
    method="post"
  >
    {% csrf_token %}
    <button class="card">
      <input type="hidden" name="projectid" value="{{ item.id }}" />
      <img id="logoss" src="{{ item.image.url }}" alt="" />
      <h2 id="titlehead">{{ item.title }}</h2>
    </button>
  </form>
  {% endfor %}
</div>

{% endblock contents %}
