{% extends 'app1/base.html' %}
<!-- heading start here  -->
{% block headings %}
<style>
*{
    word-wrap: break-word;
}
    .qmylist{
        width: 70%;
        margin: 0.4rem 15%;
       list-style-type: decimal;
       list-style: decimal;
    
    }
    #qcont{
        background-color: rgba(0, 87, 12, 0.116);
        margin: 1rem;
        padding: 1rem;
        border-radius: 0.7rem;
    }
    #subop{
        list-style-type: lower-alpha;
        list-style: lower-alpha;
    }
   #email{
    width: 40%;
    height: 2rem;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.114);
    margin: 1rem 30%;
   }
</style> {% endblock headings %}
<!-- start here -->
{% block contents %}
<h1 style="text-align: center;">{{ catogory }}</h1>
<form action="{% url 'report'  %}" method="post">
    {% csrf_token %}
  <input required placeholder="Enter you Mail ?" type="email" name="email" id="email">
  <input type="hidden" value="{{ catogory }}" name="catos">

<ul class="qmylist" >
  {% for item in items %}
  <li id="qcont">
    <h1><pre>{{ item.qus }}</pre></h1>
    <ul id="subop">
      <li><h2> <input required type="radio" name="{{ item.id }}" value="{{ item.op1 }}" > {{ item.op1 }}</h2></li>
      <li><h2><input required type="radio" name="{{ item.id }}" value="{{ item.op2 }}" > {{ item.op2 }}</h2></li>
      <li><h2> <input required type="radio" name="{{ item.id }}" value="{{ item.op3 }}" > {{ item.op3 }}</h2></li>
      <li><h2> <input required type="radio" name="{{ item.id }}" value="{{ item.op4 }}" > {{ item.op4 }}</h2></li>
      <input type="hidden" name="{{ item.id }}ans" value="{{ item.ans }}">
    </ul>
  </li>
  {% endfor %}
  <button style="width: 20%; height: 2.4rem ; margin: 2rem 40%; color: white; background-color: green;" type="submit" >Submit</button>
</ul>
</form>
{% endblock contents %}
