{% extends 'app1/base.html' %} {% load static %}

<!-- head file  -->
{% block myhead %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

{% endblock myhead %}

<!-- contents files -->

{% block content %}

<div class="container p-6 bg-[#ffffff8c] m-auto ">
    
    <h1 class="text-3xl mb-4  overflow-hidden break-words text-ellipsis text-center">{{ project.title  }}</h1>

    <img class="m-auto" src="{{ project.image.url }}" alt="">
    <h1 class="text-2xl p-4 text-center"> Language Used : {{ project.lang  }}</h1>
    <h1 class="text-2xl text-center"> Project Started : {{ project.start  }}</h1>
    <h1 class="text-2xl text-center">Project Ended : {{ project.end  }}</h1>
    <h1 class="text-2xl p-4 text-center"> Supported Platform : {{ project.Platform  }}</h1>


    <h1 class="p-4" >description : {{ project.des }}</h1>
    <a href="{{ project.link }}">


    <h1 class="p-4 text-3xl text-center hover:bg-green-600" >Know More</h1>

    </a>
    
    
   </div>

{% endblock content %}
