{% extends 'app1/base.html' %}
<!-- heading start here  -->
{% block headings %}
<style>
  .qcon {
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .qconn {
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .qcard {
    width: 14rem;
    height: 7rem;
    border: 0px solid black;
    border-radius: 1rem;
    margin: 0.2rem;
    margin-top: 1rem;
    box-shadow: 1px -1px 18px 2px rgba(0, 0, 0, 0.939);
    -webkit-box-shadow: 1px -1px 18px 2px rgb(0, 0, 0);
    -moz-box-shadow: 1px -1px 18px 2px rgba(0, 0, 0, 0.205);
    /* align-self: center; */
    object-fit: contain;
    background-repeat: no-repeat;
  }
  .box {
    width: 30%;
  }
  @media screen and (max-width: 900px) {
    #catogory {
      width: 20rem;
      height: 2rem;
      align-self: center;
      align-items: center;
      align-content: center;
    }
    #sbtn {
      width: 12rem;
      height: 2rem;
      align-self: center;
      align-items: center;
      align-content: center;
    }
    .qconn {
      width: 100%;
      display: block;
      flex-wrap: wrap;
      align-self: center;
      align-items: center;
      align-content: center;
    }
  }
  #catogory {
    width: 17rem;
    margin: 0%;
    height: 2rem;
    margin-top: 1.3rem;
    margin-bottom: 0.4rem;
    margin-right: 0.4rem;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.099);
  }
  #sbtn {
    width: 10%;
    margin-top: 1.8rem;

    margin: 0%;
    height: 2rem;
    margin-bottom: 0.4rem;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.099);
  }
  @media screen and (max-width: 1200px) {
    #catogory {
      width: 20rem;
      height: 2rem;
      align-self: center;
      align-items: center;
      align-content: center;
    }
    #sbtn {
      width: 12rem;
      height: 2rem;
      align-self: center;
      align-items: center;
      align-content: center;
    }
    .qconn {
      width: 100%;
      display: block;
      flex-wrap: wrap;
      align-self: center;
      align-items: center;
      align-content: center;
    }
  }
</style>

{% endblock headings %}
<!-- start here -->
{% block contents %}
<form class="qconn" action="{% url 'search_report' %}" method="post">
  {% csrf_token %}

  <div class="box">
    <input
      placeholder="Enter Your Email To Find Results ?"
      type="email"
      name="email"
      id="catogory"
      aria-required="true"
      required
    />
    <button id="sbtn" name="search" type="submit">Submit</button>
  </div>
</form>
<!-- <div class="qfbox">
  <select name="catogory" id="catogory">
    {% for i in cat %}
    <option value="{{ i.id }}">
      <h1 style="border: 1px solid black; margin: 0.5rem; padding: 0.5rem">
        {{ i.title }}
      </h1>
    </option>
    {% endfor %}
  </select>
</div> -->
<div class="qcon">
  {% for item in quiz %}

  <form action="{% url 'myquiz' item.id  %}" method="post">
    {% csrf_token %}

    <button type="submit" class="qcard">
      <h2 style="text-align: center">{{ item.title }}</h2>
      <p style="text-align: center">{{ item.catogory }}</p>
    </button>
  </form>

  {% endfor %}
</div>

{% endblock contents %}
