{% extends 'app1/base.html' %} {% load static %}

<!-- head file  -->
{% block myhead %} {% endblock myhead %}

<!-- contents files -->

{% block content %}
<div class="container p-8 m-auto bg-[#ffffff83]">
  <h1 class="text-end">Uploaded : {{ product.date }}</h1>
  <a class="text-end" href="{{ product.source_link }}">
    <h1>Source : {{ product.source }}</h1>
  </a>

  <h1 class="text-3xl text-center m-4">{{ product.title }}</h1>
  <a href="{{ product.img.url }}">
    <img class="m-auto mb-4" src="{{ product.img.url }}" alt="" />
  </a>
  <!-- description  -->
  {% if product.des %}
  <h1>{{ product.des }}</h1>

  {% endif %}
  <!-- start for loop  -->
  {% for item in extra %}

  <h1 class="text-3xl text-center m-4">{{ item.title }}</h1>
  <!-- start of pre  -->
  {% if item.code %}
  <pre
    class="bg-[#ffffff9b] p-5 rounded-2xl m-5 wrap overflow-x-scroll whitespace-pre-wrap"
  >
{{ item.code }}</pre
  >

  {% endif %}
  <!-- image s  -->
  {% if item.img %}
  <a href="{{ item.img.url }}">
    <img class="m-auto mb-4" src="{{ item.img.url }}" alt="" />
  </a>
  {% endif %}

  <!-- youtube link  -->
  {% if item.youtubeLink %}
  <iframe
    src="{{ item.youtubeLink }}"
    class="m-auto mb-2 mt-2 w-96 h-96"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  {% endif %}
  <!-- description  -->
  {% if item.des %}
  <h1 class="whitespace-normal break-words">{{ item.des }}</h1>
  {% endif %}

  <!-- end of for  -->
  {% endfor %}
</div>
{% endblock content %}
