{% extends 'app1/base.html' %}
{% load static %}
<!-- heading start here  -->
{% block headings %}
<link rel="stylesheet" href="{% static 'app1/blog.css' %}">

{% endblock headings %}
<!-- start here -->
{% block contents %}
<div class="centerunlimited">
    <p id="mydate">
        {{ product.date }} source :
        <a href="{{ product.source_link }}"> {{ product.source }}</a>
    </p>
    <h3 id="mytitle">{{ product.title }}</h3>
    <img id="myimg" src="{{ product.img.url }}" alt=""/>
    <p id="mydes">{{ product.des }}</p>

    <!-- my blogs extra contents  -->
    {% for i in extra %}
    <!-- if condition  -->
    {% if product.title|slugify == i.blog_number|slugify %}
    {% if i.img %}
    <img id="myimg" src="{{ i.img.url }}" alt=""/>
    {% endif %}
    {% if i.youtubeLink %}
    <iframe
            id="links"
            class="embed-responsive-item"
            src="{{ i.youtubeLink }}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
    ></iframe>
    {% endif %}
    <!-- end of if  -->
    <p id="mydes">{{ i.des }}</p>
   

    {% for con in ListOfContent %}
    
    {% if i|slugify == con.blogPostNumber|slugify %}
     
    <h1 style=" text-align: center;">{{ con.title  }}</h1>
 
     {% endif %}

    {% endfor %}
     
    <ul id="liststyle">

        {% for con in ListOfContent %}

        <!--        <h1>list= {{ con.blogPostNumber }} conent= {{ i }}</h1>-->
        {% if i|slugify == con.blogPostNumber|slugify %}
        <h4 id="listoftext">
            <li>{{ con.listText }}</li>
        </h4>
        {% endif %}
        {% endfor %}
    </ul>
    {% for imgs in ListOfImages %}
    {% if i|slugify == imgs.blogPostNumber|slugify %}
    {% if imgs.ImageSelect %}


    <img id="myimg" src="{{ imgs.ImageSelect.url }}" alt=""/>
    {% endif %}


    {% if imgs.imageUrl %}

    <img id="myimg" src="{{ imgs.imageUrl }}" alt=""/>


    {% endif %}
    {% endif %}


    {% endfor %}


    {% endif %}

    <!-- end of another if  -->

    <!-- start of extra list -->

    {% endfor %}
</div>
{% endblock contents %}
